<div ng-app="AmazonApp">
  <div ng-controller="MainCtrl">
    <div ng-model="cart">
    <p>Shopping Cart:</p>
      <form class="order-form">
        <div ng-repeat="item in cart.items">
          <span>{{item.name}}</span> <span>${{item.price}}</span> <span>Quantity: {{item.quantity}}</span> <input type="button" ng-click="removeFromCart(item.name,item.price)" value="Remove From Cart"></p>
        </div> 
        <p>Total: ${{cart.total}}</p> 
          
        <input type="text" placeholder="Enter Name" class="name" ng-model="name">
        <input type="submit" class="order-button" value="Place Order" ng-click="placeOrder()">
      </form>
    </div>
    <div ng-repeat="item in items">
      <h3>Item: {{item.name}}</h3>
      <p>Description: {{item.description}}</p>
      <p>Price: ${{item.price}}</p>
      <p>Quantity: {{item.quantity}}</p>
      <img ng-src={{item.url}}>
      <input type="button" ng-click="addToCart(item)" value="Add To Cart">
    </div>
  </div>
</div>

