<div ng-app="AmazonApp">
  <div ng-controller="MainCtrl">
    <div ng-model="cart">
    <p>Shopping Cart:</p>
      <div ng-repeat="item in cart.items">
        <p>{{item.name}}, ${{item.price}}, Quantity: {{item.quantity}}</p>
      </div> 
      <p>Total: ${{cart.total}}</p> 
      <form>  
        <input type="text" placeholder="Enter Name" class="name">
        <input type="submit" class="order-button" value="Place Order">
      </form>
    </div>
    <div ng-repeat="item in items">
      <h3>Item: {{item.name}}</h3>
      <p>Description: {{item.description}}</p>
      <p>Price: ${{item.price}}</p>
      <p>Quantity: {{item.quantity}}</p>
      <img ng-src={{item.url}}>
      <input type="button" ng-click="addToCart(item.name,item.price)" value="Add To Cart">
    </div>
  </div>
</div>

