  <div ng-controller="ItemsCtrl" class="row itemsContainer">  
    <div ng-repeat="item in items" class="col-md-3">
        <div class="col-md-12"><h3>{{item.name}}</h3></div>
        <div class="col-md-12">{{item.description}}</div>
        <div class="col-md-6"><p>Price: ${{item.price}}</p></div>
        <div class="col-md-6"><p>Quantity: {{item.quantity}}</p></div>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-2">
            <input type="button" ng-click="addToCart(item)" value="Add To Cart" class="btn btn-xs btn-success addCart">
          </div>
          <div class="col-md-5">
          </div>  
        </div>
        <div class="row">  
          <div class="col-md-12 {{item.name}}">
            <img ng-src={{item.url}} height="300" width="250"><br>
            <div class="star1" ng-mouseenter="rateItem(1)" ng-mouseleave="removeStar()"></div>
            <div class="star2" ng-mouseenter="rateItem(2)" ng-mouseleave="removeStar()"></div>
            <div class="star3" ng-mouseenter="rateItem(3)" ng-mouseleave="removeStar()"></div>
            <div class="star4" ng-mouseenter="rateItem(4)" ng-mouseleave="removeStar()"></div>
            <div class="star5" ng-mouseenter="rateItem(5)" ng-mouseleave="removeStar()"></div>
          </div>
        </div> 

    </div>
  </div>