// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-md-6 {
  
}
.addCart{
  margin-bottom:20px;
}
.itemsContainer {
  margin-bottom: 45px;
}
.shoppingCart {
  margin-bottom:30px;
}
div[class^="star"] {
  height:30px;
  width:30px;
  background: image-url("black_star.png");
  background-size:cover;
  display:inline-block;
}
.goldStar {
  height:30px !important;
  width:30px !important;
  background: image-url("gold_star.png") !important;
  background-size:cover !important;
  display:inline-block !important;
}